<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="mysql.port" value="3306" />
    <add key="mysql.ip" value="127.0.0.1" />
    <add key="mysql.host" value="software-schrubber.de" />
    <add key="mysql.log" value="/Users/42/mysqlpot.log" />
    <add key="server.postAlertsURL" value="https://www.t-sec-radar.de:9443/ews-0.1/alert/postSimpleMessage" />
    <add key="server.username" value="MYSQL-EMAILPLACE" />
    <add key="server.token" value="blah" />
</appSettings>
</configuration>
